[Unit]
Description=Pictures and Videos, ~/.ssh/config to samba
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup.sh
