[Unit]
Description=Pictures and Videos, .ssh to nfs
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/remon/bin/backup.sh
