[user]
  name = remon2207
  email = remon2207.develop@gmail.com
[commit]
  template = /home/remon/commit.template
[core]
  editor = /usr/bin/nvim
  pager = /usr/bin/delta --pager='/usr/bin/bat --plain'
  quotepath = false
[interactive]
  diffFilter = /usr/bin/delta --color-only
[delta]
  syntax-theme = Solarized (dark)
  navigate = true
  line-numbers = true
[init]
  defaultBranch = main
[pull]
  ff = only
  rebase = false
[color]
  ui = true
