# fcitx5
/.config/fcitx5/conf/cached_layouts

# gh
/.config/gh/hosts.yml

# lazygit
/.config/lazygit/state.yml

# nvim
/.config/nvim/lazy-lock.json

# httpie
/.config/httpie/version_info.json

/bin/JQuake.sh
/bin/*.AppImage
