# feat: 新機能
# fix: バグ修正
# docs: ドキュメントのみの変更
# style: コードの意味に影響を与えない変更（ホワイトスペース、フォーマット、セミコロンの欠落など）
# refactor: バグ修正でも機能追加でもないコード変更
# perf: パフォーマンスを向上させるためのコード変更
# test: 不足しているテストの追加や既存のテストの修正
# chore: ビルドプロセス、またはドキュメント生成などの補助ツールやライブラリの変更
