/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       #282a36;
    text-color:             #f8f8f2;
	font:				 	"Noto Sans CJK JP 10";
}

window {
    width:      			225px;
    padding:    			25px;
    border:					0px 0px 2px 0px;
    border-radius:          0px;
    border-color:           #ff5555;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				#f8f8f2;
}
