[Desktop Entry]
Type=Application
Name=bghtop
Path=/usr/bin
# Exec=alacritty --command htop
Exec=kitty --single-instance htop
# Exec=wezterm start htop
Terminal=false
