[Desktop Entry]
Type=Application
Name=Mozc 単語登録
Path=/usr/libexec/mozc
Exec=./mozc_tool --mode='word_register_dialog'
Icon=org.fcitx.Fcitx5.fcitx-mozc-dictionary
Terminal=false
